.three {
  width: 30px;
  color: #ecf0f1;
  text-align: center;
  margin-right: 10px;
}
.hamburger .line {
  width: 30px;
  height: 2px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.col {
  display: none;
}
.hamburger:hover {
  cursor: pointer;
}

#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  -o-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  -o-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}
.mobile{
    height: 100vh;
    width: 100vw;
    background-color: #0f1021;
    z-index: 900;
    position: fixed;
    top: 0;
    left: 100%;
    align-items: center;
    transition: 0.1s ease;
}
.hamburgerMenu{
    left: 0;
    transition: 0.5s;
}
.mobile nav{
    height: 80vh;
    width: 100%;
}
.mobile nav ul{
    flex-direction: column;
    margin: 0;
    width: 100%;
    justify-content: space-around;
    height: 100%;
    font-size: 20px;
}
@media only screen and (max-width: 600px) {
  body {
    width: 100vw;
  }
  header nav {
    display: none;
  }
  .col {
    display: block;
  }
  header {
    width: 100vw;
    padding: 20px 0;
    margin: 0;
    justify-content: space-between;
  }
  .logo {
    text-align: center;
    margin-left: 10px;
  }
  iframe {
    display: none;
  }
  #home{
      align-items: center;
      min-height: max-content;
  }
  .heading{
      height: max-content;
      display: flex;
      flex-direction: column;
      text-align: center;
  }
  .heading span{
      display: block;
  }
  #home{
      height: 100vh;
  }
  #home .subheading{
      width: 100%;
  }
  .subheading{
      width: 95%;
      font-size: 18px;
  }
  .content{
      flex-direction: column;
      align-items: center;
      padding: 0;
  }
  .items{
      height: 250px;
      width: 250px;
      margin: 15px auto;
  }
  .item-content p{
      font-size: 18px;
  }
  .input{
      flex-direction: column;
      margin: 0;
      margin-top: 5px;
  }
  .contact{
      padding: 0;
  }
  #home .heading{
    font-size: 55px;
  }
  #home .heading span{
      font-size: 25px;
  }
  .contact .label{
      margin-bottom: 10px;
  }
  .contact input{
      width: 300px;
  }
  .trash{
      display: none;
  }
  .rules ul{
      width: 96%;
      z-index: unset;
  }
  .rules ul li{
      margin-top: 10px;
  }
  .main-rules{
      height: 57vh;
  }
  #rules {
      min-height: 69vh;
  }
  .about{
      margin-top: 100vh;
  }
}
